@charset "utf-8";
/* reset marginesów oraz dopełnień */
html, body, ul, li { margin: 0; padding: 6px; line-height: 1.2em;}
br {line-height:8px; margin:0px;}

/* reset wysokości linii i fontu */
h1, h2, ul, li, p { margin: 0; padding: 0; }

/* ustawienia globalne */
html, body {font-family:georgia, verdana, tahoma, arial, sans-serif; font-size: 0.625em/1.5em; background:#f2f2f2; }
a {color:#1c769a; text-decoration:none; font-size:1.1em;}
a:hover {text-decoration:underline;}

/* TYTUŁ */
h2 {
  font-size:1.3em;
  text-align:center;
  color:#414141;
  margin-bottom:0px; padding:0px;
}
h3 {
  font-size:0.8em;
  text-align:center;
  color:#8f8f8f;
  margin-top:3px; padding-top:0px;
}
h3 a { 
  color:#747474;
}
/* CONTENT */ 
#content {
  padding:10px;
  border:solid 1px #dfdfdf;
  background:#ffffff;
  font-size:11px;
  margin:0 auto;
  overflow:hidden;
}
#content h1 {
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px; 
  color:#535353;
}
#content img {
  padding:5px;
  background:#f7f7f7;
  border:solid 1px #464646;
  margin:2px
}



@charset "utf-8";
.menu ul li {
  display:block;
  padding-top:2px;
  margin-bottom:5px;
  background: url(zakladka.png) top left no-repeat;
  list-style:none;
  overflow:visible;
}
.menu ul li a {
  display:block;
  height:34px;
  margin-top:0px;
  padding-top:10px;
  padding-left:35px;
  font-size:14px;
  color:#42442f;
  outline:none;
}
.menu ul li .active {
  background:url(on.png) top right no-repeat;
}

.menu ul li .inactive {
  background:url(off.png) top right no-repeat;
}
.menu ul li ul {
  display:none; 
  margin-top:-4px;
  margin-bottom:20px;   
}
.menu ul li ul li ul {
  margin-bottom:5px;
}
.menu ul li ul li {
  display:block;
  background:none;
  font-size:12px;
  list-style:circle;
  color:#8f9d4c;
  margin-bottom:0px;
  margin-top:0px;
  padding-top:0px;
  padding-bottom:0px;
  padding-left:1px;
  margin-left:35px;
}
.menu ul li ul li a {
  background:none;
  font-size:12px;
  height:15px;
  color:#8f7d4c;
  padding-left:0px; 
}