BODY { width:100%;height:100%; margin:0px auto; Padding: 0px; FONT-SIZE: 12px; OVERFLOW-x: auto; OVERFLOW-y: auto; BACKGROUND: #FFFFFF; COLOR: #414F4A; FONT-FAMILY: tahoma, 宋体, fantasy;}
BODY.topBody {
  POSITION: relative; BACKGROUND-COLOR: #FFFFFF; MARGIN: 0px; Padding: 0px; FONT: 12px Arial, Helvetica, sans-serif; COLOR: #424242; TOP: 0px
}
#wrapper {
	TEXT-ALIGN: left; WIDTH: 100%
}
#header {
	Z-INDEX: 1001; POSITION: relative; MARGIN: 0px auto; WIDTH: 100%
}
#header:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
#main {
	POSITION: relative; MARGIN: auto; WIDTH: 100%
}
#main:after {
	DISPLAY: block; CLEAR: both; CONTENT: ""
}
#bread-crumb-bar {
	BACKGROUND-IMAGE: url(images/backgrounds/breadcrumb_bg---.png); BACKGROUND-COLOR: #FFFFFF; BACKGROUND-REPEAT: repeat-x; HEIGHT: 32px; PADDING-LEFT: 14px; PADDING-RIGHT: 1px; 
}
#bread-crumb-container {
	POSITION: relative; MARGIN: 0px auto; border-bottom:2px solid #9faaaa; 
}
#bread-crumb-content {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 27px; PADDING-RIGHT: 0px; FONT: 10px Arial, Helvetica, sans-serif; COLOR: #fff; PADDING-TOP: 5px
}
#content-pointer {
	HEIGHT: 2px; margin:0px auto; margin-top:2px; POSITION: relative;
}
#left-nav-container {
	BACKGROUND-COLOR: #F2F9FF; WIDTH: 237px; FLOAT: left; box-shadow: 3px 3px 3px #888888; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px
}
#left-nav-content {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 9px; PADDING-RIGHT: 9px; PADDING-TOP: 0px
}
#left-switch {
  WIDTH: 2px; FLOAT: left;
}
#workarea-content-container {
	BACKGROUND-COLOR: #fff; FLOAT: right; MARGIN-LEFT: 2px; MARGIN-right: 2px; box-shadow: 3px 3px 3px #888888; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px
}
#workarea-content-container:after {
	CLEAR: both
}
#workarea-content {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; MARGIN-BOTTOM: 2px; PADDING-TOP: 0px
}
#footer {
	BACKGROUND-IMAGE: url(images/backgrounds/site_bg.png); Z-INDEX: 99; POSITION: relative; TEXT-ALIGN: left; MARGIN-TOP: -15px; WIDTH: 100%; BACKGROUND-REPEAT: repeat-x; box-shadow: 0px -3px 3px #000000
}
#footer-home {
	BACKGROUND-IMAGE: url(images/backgrounds/site_bg.png); Z-INDEX: 99; POSITION: relative; TEXT-ALIGN: left; MARGIN-TOP: -3px; WIDTH: 100%; BACKGROUND-REPEAT: repeat-x; box-shadow: 0px -3px 3px #000000
}
#footer-content {
	MARGIN: 0px auto; WIDTH: 980px; FONT: 12px Arial, Helvetica, sans-serif; COLOR: #d1d3d4; PADDING-TOP: 10px
}
FORM {
	MARGIN: 0px
}

INPUT[type=text] {
	BORDER-BOTTOM: #bababa 1px solid; BORDER-LEFT: #bababa 1px solid; PADDING-BOTTOM: 4px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 7px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 7px; FONT: 12px Arial, Helvetica, sans-serif; BACKGROUND: url(images/text_field_bg_sprite.png) #fbfbfb repeat-x; COLOR: #424242; BORDER-TOP: #bababa 1px solid; BORDER-RIGHT: #bababa 1px solid; PADDING-TOP: 4px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -webkit-appearance: none
}
.text-input {
	FLOAT: left
}
INPUT[type=password] {
	BORDER-BOTTOM: #bababa 1px solid; BORDER-LEFT: #bababa 1px solid; PADDING-BOTTOM: 4px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 7px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 7px; FONT: 12px Arial, Helvetica, sans-serif; BACKGROUND: url(images/text_field_bg_sprite.png) #fbfbfb repeat-x; COLOR: #424242; BORDER-TOP: #bababa 1px solid; BORDER-RIGHT: #bababa 1px solid; PADDING-TOP: 4px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -webkit-appearance: none
}
TEXTAREA {
	BORDER-BOTTOM: #bababa 1px solid; BORDER-LEFT: #bababa 1px solid; PADDING-BOTTOM: 4px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 7px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 7px; FONT: 12px Arial, Helvetica, sans-serif; BACKGROUND: url(images/text_field_bg_sprite.png) #fbfbfb repeat-x; COLOR: #424242; BORDER-TOP: #bababa 1px solid; BORDER-RIGHT: #bababa 1px solid; PADDING-TOP: 4px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -webkit-appearance: none
}
INPUT[type=text].search {
	BORDER-BOTTOM: #1a4152 1px solid; BORDER-LEFT: #1a4152 1px solid; PADDING-BOTTOM: 4px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 7px; OUTLINE-WIDTH: 0px; WIDTH: 200px; PADDING-RIGHT: 7px; FONT: 12px Arial, Helvetica, sans-serif; BACKGROUND: url(images/search_field_bg_sprite.png) #fbfbfb repeat-x; COLOR: #424242; BORDER-TOP: #1a4152 1px solid; BORDER-RIGHT: #1a4152 1px solid; PADDING-TOP: 4px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -webkit-appearance: none
}
INPUT[type=text].login {
	BORDER-BOTTOM: #738082 1px solid; BORDER-LEFT: #738082 1px solid; PADDING-BOTTOM: 4px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 7px; OUTLINE-WIDTH: 0px; WIDTH: 200px; PADDING-RIGHT: 7px; FONT: 12px Arial, Helvetica, sans-serif; BACKGROUND: url(images/text_field_bg_sprite.png) #fbfbfb repeat-x; COLOR: #424242; BORDER-TOP: #738082 1px solid; BORDER-RIGHT: #738082 1px solid; PADDING-TOP: 4px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -webkit-appearance: none
}
INPUT[type=password].login {
	BORDER-BOTTOM: #738082 1px solid; BORDER-LEFT: #738082 1px solid; PADDING-BOTTOM: 4px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 7px; OUTLINE-WIDTH: 0px; WIDTH: 200px; PADDING-RIGHT: 7px; FONT: 12px Arial, Helvetica, sans-serif; BACKGROUND: url(images/text_field_bg_sprite.png) #fbfbfb repeat-x; COLOR: #424242; BORDER-TOP: #738082 1px solid; BORDER-RIGHT: #738082 1px solid; PADDING-TOP: 4px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -webkit-appearance: none
}

A:link {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #007700; TEXT-DECORATION: none
}
A:hover {
	COLOR: #4c4339; TEXT-DECORATION: underline
}
A.common-nav:link {
	FONT: 12px Arial, Helvetica, sans-serif; COLOR: #d1d4d3; TEXT-DECORATION: none
}
A.common-nav:visited {
	COLOR: #d1d4d3; TEXT-DECORATION: none
}
A.common-nav:hover {
	COLOR: #d1d4d3; TEXT-DECORATION: underline
}
A.main-nav:link {
  FONT: 14px Arial, Helvetica, sans-serif; COLOR: #d1d4d3; TEXT-DECORATION: none; font-weight:bold;
}
A.main-nav:visited {
  FONT: 14px Arial, Helvetica, sans-serif; COLOR: #d1d4d3; TEXT-DECORATION: none; font-weight:bold;
}
A.main-nav:hover {
	FONT: 14px Arial, Helvetica, sans-serif; COLOR: #818384; TEXT-DECORATION: underline; font-weight:bold;
}
A.main-nav-on:link {
  FONT: 14px Arial, Helvetica, sans-serif; COLOR: #818384; TEXT-DECORATION: none; font-weight:bold;
}
A.main-nav-on:visited {
  FONT: 14px Arial, Helvetica, sans-serif; COLOR: #818384; TEXT-DECORATION: none; font-weight:bold;
}
A.main-nav-on:hover {
	FONT: 14px Arial, Helvetica, sans-serif; COLOR: #818384; TEXT-DECORATION: underline; font-weight:bold;
}
H2 A {
	FONT: 16px Arial, Helvetica, sans-serif
}
H3 A {
	FONT: 14px Arial, Helvetica, sans-serif
}
H4 A {
	FONT: 12px Arial, Helvetica, sans-serif
}
A.footer:link {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #d1d4d3; TEXT-DECORATION: none
}
A.footer:visited {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #d1d4d3; TEXT-DECORATION: none
}
A.footer:hover {
	COLOR: #4d92a8; TEXT-DECORATION: underline
}
H1 {
  PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 18px Arial, Helvetica, sans-serif; COLOR: #932039; PADDING-TOP: 0px
}
H1.seo {
  FONT: bold 12px Arial, Helvetica, sans-serif; COLOR: #424242
}
H2 {
  PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 16px Arial, Helvetica, sans-serif; COLOR: #004961; PADDING-TOP: 0px
}
H2.home {
  PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 18px Arial, Helvetica, sans-serif; COLOR: #004a61; PADDING-TOP: 0px
}
H3 {
  PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 14px Arial, Helvetica, sans-serif; COLOR: #004961; PADDING-TOP: 0px
}
H4 {
  PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 12px Arial, Helvetica, sans-serif; COLOR: #004961; PADDING-TOP: 0px
}
UL {
  MARGIN-TOP: 0px; PADDING-TOP: 0px
}
UL.faq {
  MARGIN: 10px 0px 20px; PADDING-TOP: 0px
}
OL {
  MARGIN-TOP: 0px; PADDING-TOP: 0px
}
LI {
  MARGIN: 2px 0px
}
H4.head {
  BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 5px
}
DIV.listing {
  PADDING-TOP: 5px
}
H4.head A:after {
  CLEAR: both
}
H5 {
  MARGIN: 0px; FONT: bold 13px Arial, Helvetica, sans-serif; COLOR: #7e253b; TEXT-DECORATION: none
}
H6 {
  PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: bold 15px Arial, Helvetica, sans-serif; COLOR: #7e253b; TEXT-DECORATION: none; PADDING-TOP: 0px
}

#oDetails {
  WIDTH: 100%
}
#oDetails TD {
  FONT-FAMILY: Arial; COLOR: #333
}
#oDetails .wrapper {
  FONT-FAMILY: Arial; COLOR: #333
}
#oDetails H2 {
  MARGIN: 7px 0px
}
#oDetails .wrapper {
  DISPLAY: block; PADDING-TOP: 7px
}
#oDetails TABLE.pd {
  WIDTH: 100%
}
#oDetails .secHeader {
  BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 7px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; FONT-SIZE: 16px; PADDING-TOP: 0px
}
#oDetails .container {
  WIDTH: 100%; FLOAT: left; MARGIN-RIGHT: -50%
}
#oDetails .col1 {
  MARGIN-RIGHT: 50%
}
#oDetails .col2 {
  WIDTH: 50%; FLOAT: right
}
#oDetails .col1 .section {
  PADDING-BOTTOM: 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; PADDING-TOP: 0px
}
#oDetails .col2 .section {
  PADDING-BOTTOM: 16px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#oDetails .pdTab {
  WIDTH: 100%; DISPLAY: none; MARGIN-LEFT: 7px
}
#oDetails .pdPM {
  PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 2px
}
#oDetails .pdSN {
  PADDING-LEFT: 4px
}
#oDetails .attrG {
  CLEAR: both; BORDER-TOP: #999 1px dotted
}
#oDetails A:link {
  FONT-FAMILY: Arial; TEXT-DECORATION: none
}
#oDetails .firstColumnEmpty {
  FLOAT: left
}
#oDetails .content {
  LINE-HEIGHT: 16px; MARGIN: 10px 0px 0px 12px; COLOR: #333; FONT-SIZE: 12px
}
#oDetails .CNlocale .content {
  FONT-SIZE: 13px
}
#oDetails .content TD {
  FONT-SIZE: 12px
}
#oDetails .CNlocale .content TD {
  FONT-SIZE: 13px
}
#oDetails .pdSpriteMinus {
  BACKGROUND-POSITION: -118px -770px
}
#oDetails .pdSpritePlus {
  BACKGROUND-POSITION: -98px -770px
}
#oDetails .pdSprite {
  POSITION: static; WIDTH: 11px; DISPLAY: inline-block; HEIGHT: 11px; OVERFLOW: hidden
}
.pdSprite SPAN {
  POSITION: absolute; LEFT: -9999px
}
#oDetails .pdSection A:link {
  COLOR: #333
}
#oDetails .pdSection A:visited {
  COLOR: #333
}
#oDetails .pdSection {
  PADDING-BOTTOM: 7px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 7px
}
#oDetails .fSec {
  PADDING-TOP: 0px
}
#oDetails TABLE {
  TABLE-LAYOUT: fixed
}
#oDetails #weeeLogo {
  TABLE-LAYOUT: auto
}
#oDetails .col1 TD {
  PADDING-BOTTOM: 3px; LINE-HEIGHT: 18px; PADDING-LEFT: 10px; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px dotted; PADDING-TOP: 3px
}
#oDetails .col2 TD {
  PADDING-BOTTOM: 3px; LINE-HEIGHT: 18px; PADDING-LEFT: 10px; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px dotted; PADDING-TOP: 3px
}
#oDetails #weeeLogo TD {
  BORDER-TOP: medium none
}
#oDetails TABLE TD.label {
  BACKGROUND-COLOR: #fefefe; WIDTH: 35%; COLOR: #666; VERTICAL-ALIGN: top
}
#oDetails .attrG TABLE {
  WIDTH: 97%
}
#oDetails .attrG UL LI {
  MARGIN: 0px
}
#oDetails .content A {
  FONT-WEIGHT: normal
}
#oDetails .col1 TD.lAttr {
  PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#oDetails .pdFeatures {
  LIST-STYLE-TYPE: disc; MARGIN-LEFT: 25px; FONT-SIZE: 14px
}
#oDetails #wnsPostData {
  DISPLAY: none
}
#oDetails .collapseFeature {
  DISPLAY: none
}
#oDetails .expLink {
  LINE-HEIGHT: 16px; MARGIN: 6px 0px 0px 6px; FLOAT: right; FONT-SIZE: 12px
}
#oDetails .expLink:visited {
  TEXT-DECORATION: none
}

#content-header-bar {border-bottom:2px solid #9faaaa; width:100%; }
.content-header {
	float:left; width:50%; margin-bottom:6px; padding-left:2px; padding-top:5px;
}
.print-header {float:right; width:40%; margin-top:5px; TEXT-ALIGN: right;}
#content-query-bar {padding-top:10px; padding-bottom:10px;}


#db_main {width:100%; margin:0px auto; margin-left:0px; margin-right:0px;}
  #db_main .dt_left { width:60%; float:left; margin-top:0px; margin-left:2px; margin-right:2px; margin-bottom:2px;}
  #db_main .dt_right { width:35%; float:right; margin-left:2px; margin-right:0px; display:inline; margin-top:0px; margin-bottom:2px;}
  #db_main .tbBorder { background-color:#F2ffe9; width:100%; padding:0px; margin:0px;}
  #db_main .tdHeader, #db_main .tdHeaderB, #db_main .thHeader, #db_main .tdHeaderR, #db_main .tdHeaderP, #db_main .tdHeaderL { background-color:#F2FFF9; }
  #db_main .tdBody, #db_main .tdBodyM, #db_main .tdBodyR, #db_main .tdBodyS {background-color:#F2FFF9; }
#db_main_q .tbBorder {background-color:#c2cFc9; width:100%; padding:0px; margin:0px;}
  #db_main_q .tdHeader, #db_main_q .tdHeaderR, #db_main_q .tdHeaderP, #db_main .tdHeaderL { background-color:#F2ffe9; }
  #db_main_q .tdBody { background-color:#F2FFF9; }
#db_main_q INPUT[type=text] {
  BORDER-BOTTOM: #bababa 0px solid; BORDER-LEFT: #bababa 0px solid; PADDING-BOTTOM: 4px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 7px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 7px; FONT: 12px Arial, Helvetica, sans-serif; BACKGROUND: url(images/text_field_bg_sprite--.png) #F2F9FF repeat-x; COLOR: #424242; BORDER-TOP: #bababa 0px solid; BORDER-RIGHT: #bababa 0px solid; PADDING-TOP: 4px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -webkit-appearance: none
}
#db_main_q TEXTAREA {
  BORDER-BOTTOM: #bababa 0px solid; BORDER-LEFT: #bababa 0px solid; PADDING-BOTTOM: 4px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 7px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 7px; FONT: 12px Arial, Helvetica, sans-serif; BACKGROUND: url(images/text_field_bg_sprite--.png) #F2F9FF repeat-x; COLOR: #424242; BORDER-TOP: #bababa 0px solid; BORDER-RIGHT: #bababa 0px solid; PADDING-TOP: 4px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -webkit-appearance: none
}
.sel_text{
  BORDER-BOTTOM: #bababa 1px solid; BORDER-LEFT: #bababa 1px solid; PADDING-BOTTOM: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT: 12px Arial, Helvetica, sans-serif; BACKGROUND: url(images/text_field_bg_sprite.png) #F2F9FF repeat-x; COLOR: #424242; BORDER-TOP: #bababa 1px solid; BORDER-RIGHT: #bababa 1px solid; PADDING-TOP: 0px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -webkit-appearance: none
}
#db_main_q .sel_text{
  BORDER-BOTTOM: #bababa 0px solid; BORDER-LEFT: #bababa 0px solid; PADDING-BOTTOM: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT: 12px Arial, Helvetica, sans-serif; BACKGROUND: url(images/text_field_bg_sprite.png--) #F2F9FF repeat-x; COLOR: #424242; BORDER-TOP: #bababa 0px solid; BORDER-RIGHT: #bababa 0px solid; PADDING-TOP: 0px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; -webkit-appearance: none
}

.listBody {TEXT-ALIGN: left; cursor: hand; border-bottom: 1px solid #e2efe9; border-right:1px solid #eef2f2; line-height: 180%; padding-left: 12px; padding-right: 2px;}
.listBody { background-color: #eFFFe6; }
/***************************************************************/
.tblHeader  { background:#fafafa url('images/backgrounds/datagrid_header_bg___.gif') repeat-x left bottom; padding: 0px;}
.tblBody    { background-color: #ffffff; padding: 0px; color: #424242; border-bottom: 1px solid #d2dfd9; margin-top: -1px;}
.listHeader { background-color: #EfEfE8; border-bottom:1px solid #e2efe9; border-right:1px solid #e2efe9; padding-left: 2px; padding-right: 2px; color: #000000; line-height: 180%; font-weight: normal;}
.listLine .listBody,.listLineAlter .listBody,.trFocuse .listBody,.trOver_listLineAlter .listBody,.trOver_listLine .listBody,.trOut .listBody {cursor: hand; border-bottom: 1px solid #c2cfc9; border-right:0px solid #eef2f2; line-height: 150%; padding-left: 2px; padding-right: 2px;}
.listLine .listBody      { background-color: #ffffff; }
.listLineAlter .listBody { background-color: #FeFeFe; }
.trFocuse .listBody      { background-color: #F2F2E8; }
.trOver_listLineAlter .listBody { background-color: #F8F8EF; }
.trOver_listLine .listBody { background-color: #F8F8EF; }
.noline { height:0px; margin-top:-10px; background-color: #cfdfcf;}
TABLE.tbFixList { behavior:url(../doc/script/ScrollTable.htc); font-size: 12px; width:100%; color: #424242; background-color: #f2f9ff;}
.tdHeaderP {TEXT-ALIGN: center; padding: 8px;}
.tdHeaderL {TEXT-ALIGN: left; padding: 8px;}
.tdHeader {TEXT-ALIGN: right; padding: 8px;}
.tdHeaderB {TEXT-ALIGN: right; padding: 8px; font-weight:bold;}
.thHeader {TEXT-ALIGN: center; padding: 8px;}
.tdHeaderR {TEXT-ALIGN: right; padding: 8px;}

.pagelist TD { height:22px; TEXT-ALIGN: right; padding-bottom:-10px; BACKGROUND-COLOR: #f0f0ff; COLOR: #556655}
.pagelist TD A.sublink {  TEXT-ALIGN: center; COLOR: #556655; font-size: 16px;}
.pagelist TD A.sublink:hover {  COLOR: #000000; font-size: 16px; BACKGROUND-COLOR: #cccccc; }
.pagelist TD A.sublink_s {  TEXT-ALIGN: center; COLOR: #556655; font-size: 14px;}
.pagelist TD A.sublink_s:hover {  COLOR: #000000; font-size: 16px; BACKGROUND-COLOR: #cccccc; }
.pagelist TD .subtxt {color:#525252; font-size: 16px; BACKGROUND-COLOR: #cccccc;}
.pagelist TD .imtxt {color:#525252;}

.sub_frame_data { width:100%; height:100%; }
.dt_header {
	 border: 1px solid #efefdf; height: 22px; padding-top: 6px; padding-bottom: 2px; font-weight:bold;
	 background-image: url(images/bg_tablist_big.png); background-position: left center; 
	 text-align:left; vertical-align:middle; color: #657b6b; padding-left: 10px; padding-right: 0px; margin: 0px;
}

input.button,input.buttonOver,input.buttonLine{
  font-size: 12px;
  background-image: url(images/buttons/bg_btn2.png);
  background-repeat: repeat;
  border: 1px solid #6CA66F;
  padding-left: 8px;
  padding-right: 8px;
  height: 20px;
  color: #004400;
  cursor:pointer;}
.button{ opacity:0.7;filter:alpha(opacity=60);}
.buttonOver, .buttonLineOver{ opacity:1.0;filter:alpha(opacity=100);}
input.buttonLine{ background-image: url(images/buttons/bg_btn1.png); margin-bottom:5px; padding-left:2px; padding-right:2px; opacity:0.7;filter:alpha(opacity=60);}
input.checkbox, input.radio{
  border: 0px solid #6CA66F;}

DIV.list-toolbar{
  background:#efefef; padding:1px 2px; border-bottom:1px solid #ccc; text-align:left; padding-top:7px; padding-bottom:7px;
}
#list_div{ background-color: #ccc; padding: 1px; margin-top:-2px; float:center;}
#sub_div_data{ background-color: #cfc; padding: 1px; margin-top:0px; float:center; height:300px; width:100%;}
th,.d_th {
  font-weight: bold;
  font-size: 12px;
  color: white;
  text-align: left;
  padding-left: 5px;
  height: 26px;
  background-color: #44aa77;
  background-repeat: no-repeat;
  background-position: 5px center;}
.ReadOnly {
  background-color:transparent;
  border:none;
  font-weight:bold;}

.QR_T5 {
  font-weight: bold;
  font-size: 13px;
}
.QR_T7 {
  font-weight: bold;
  font-size: 20px;
}
.QR_T3 {
  font-size: 10px;
}
.QR_B3 {
  font-size: 10px;
  font-weight: bold;
}
  