DIV.selector {
	BACKGROUND-IMAGE: url(/images/css/uniform/sprite.png); BACKGROUND-REPEAT: no-repeat; COLOR: #424242; -webkit-font-smoothing: antialiased
}
DIV.selector SPAN {
	BACKGROUND-IMAGE: url(/images/css/uniform/sprite.png); BACKGROUND-REPEAT: no-repeat; COLOR: #424242; -webkit-font-smoothing: antialiased
}
DIV.checker SPAN {
	BACKGROUND-IMAGE: url(/images/css/uniform/sprite.png); BACKGROUND-REPEAT: no-repeat; COLOR: #424242; -webkit-font-smoothing: antialiased
}
DIV.radio SPAN {
	BACKGROUND-IMAGE: url(/images/css/uniform/sprite.png); BACKGROUND-REPEAT: no-repeat; COLOR: #424242; -webkit-font-smoothing: antialiased
}
DIV.uploader {
	BACKGROUND-IMAGE: url(/images/css/uniform/sprite.png); BACKGROUND-REPEAT: no-repeat; COLOR: #424242; -webkit-font-smoothing: antialiased
}
DIV.uploader SPAN.action {
	BACKGROUND-IMAGE: url(/images/css/uniform/sprite.png); BACKGROUND-REPEAT: no-repeat; COLOR: #424242; -webkit-font-smoothing: antialiased
}
DIV.button {
	BACKGROUND-IMAGE: url(/images/css/uniform/sprite.png); BACKGROUND-REPEAT: no-repeat; COLOR: #424242; -webkit-font-smoothing: antialiased
}
DIV.button SPAN {
	BACKGROUND-IMAGE: url(/images/css/uniform/sprite.png); BACKGROUND-REPEAT: no-repeat; COLOR: #fff; -webkit-font-smoothing: antialiased
}
.selector {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.radio {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.checker {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.uploader {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.button {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.selector * {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.radio * {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.checker * {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.uploader * {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.button * {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT.text {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #aaa 1px solid; PADDING-BOTTOM: 3px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 3px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 3px; FONT-FAMILY: "Helvetica Neue", Helvetica, Arial, sans-serif; BACKGROUND: url(/images/css/uniform/bg-input.png) repeat-x 0px 0px; COLOR: #777; FONT-SIZE: 12px; BORDER-TOP: #aaa 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px
}
INPUT.email {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #aaa 1px solid; PADDING-BOTTOM: 3px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 3px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 3px; FONT-FAMILY: "Helvetica Neue", Helvetica, Arial, sans-serif; BACKGROUND: url(/images/css/uniform/bg-input.png) repeat-x 0px 0px; COLOR: #777; FONT-SIZE: 12px; BORDER-TOP: #aaa 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px
}
INPUT.password {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #aaa 1px solid; PADDING-BOTTOM: 3px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 3px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 3px; FONT-FAMILY: "Helvetica Neue", Helvetica, Arial, sans-serif; BACKGROUND: url(/images/css/uniform/bg-input.png) repeat-x 0px 0px; COLOR: #777; FONT-SIZE: 12px; BORDER-TOP: #aaa 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px
}
TEXTAREA.uniform {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #aaa 1px solid; PADDING-BOTTOM: 3px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 3px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 3px; FONT-FAMILY: "Helvetica Neue", Helvetica, Arial, sans-serif; BACKGROUND: url(/images/css/uniform/bg-input.png) repeat-x 0px 0px; COLOR: #777; FONT-SIZE: 12px; BORDER-TOP: #aaa 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px
}
INPUT.text:focus {
	BORDER-BOTTOM-COLOR: #999; BORDER-TOP-COLOR: #999; BACKGROUND: url(/images/css/uniform/bg-input-focus.png) repeat-x 0px 0px; BORDER-RIGHT-COLOR: #999; BORDER-LEFT-COLOR: #999; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3)
}
INPUT.email:focus {
	BORDER-BOTTOM-COLOR: #999; BORDER-TOP-COLOR: #999; BACKGROUND: url(/images/css/uniform/bg-input-focus.png) repeat-x 0px 0px; BORDER-RIGHT-COLOR: #999; BORDER-LEFT-COLOR: #999; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3)
}
INPUT.password:focus {
	BORDER-BOTTOM-COLOR: #999; BORDER-TOP-COLOR: #999; BACKGROUND: url(/images/css/uniform/bg-input-focus.png) repeat-x 0px 0px; BORDER-RIGHT-COLOR: #999; BORDER-LEFT-COLOR: #999; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3)
}
TEXTAREA.uniform:focus {
	BORDER-BOTTOM-COLOR: #999; BORDER-TOP-COLOR: #999; BACKGROUND: url(/images/css/uniform/bg-input-focus.png) repeat-x 0px 0px; BORDER-RIGHT-COLOR: #999; BORDER-LEFT-COLOR: #999; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3)
}
DIV.selector {
	LINE-HEIGHT: 26px; BACKGROUND-POSITION: -483px -130px; FLOAT: left; HEIGHT: 26px
}
DIV.selector SPAN {
	LINE-HEIGHT: 26px; BACKGROUND-POSITION: right 0px; HEIGHT: 26px
}
DIV.selector SELECT {
	TOP: 0px; LEFT: 0px
}
DIV.selector:active {
	BACKGROUND-POSITION: -483px -156px
}
DIV.active.selector {
	BACKGROUND-POSITION: -483px -156px
}
DIV.selector:active SPAN {
	BACKGROUND-POSITION: right -26px
}
DIV.active.selector SPAN {
	BACKGROUND-POSITION: right -26px
}
DIV.focus.selector {
	BACKGROUND-POSITION: -483px -182px
}
DIV.hover.selector {
	BACKGROUND-POSITION: -483px -182px
}
DIV.selector:hover {
	BACKGROUND-POSITION: -483px -182px
}
DIV.focus.selector SPAN {
	BACKGROUND-POSITION: right -52px
}
DIV.hover.selector SPAN {
	BACKGROUND-POSITION: right -52px
}
DIV.selector:hover SPAN {
	BACKGROUND-POSITION: right -52px
}
DIV.focus.selector:active {
	BACKGROUND-POSITION: -483px -208px
}
DIV.active.focus.selector {
	BACKGROUND-POSITION: -483px -208px
}
DIV.selector:hover:active {
	BACKGROUND-POSITION: -483px -208px
}
DIV.active.selector:hover {
	BACKGROUND-POSITION: -483px -208px
}
DIV.focus.selector:active SPAN {
	BACKGROUND-POSITION: right -78px
}
DIV.selector:hover:active SPAN {
	BACKGROUND-POSITION: right -78px
}
DIV.active.selector:hover SPAN {
	BACKGROUND-POSITION: right -78px
}
DIV.active.focus.selector SPAN {
	BACKGROUND-POSITION: right -78px
}
DIV.disabled.selector {
	BACKGROUND-POSITION: -483px -234px
}
DIV.disabled.selector SPAN {
	BACKGROUND-POSITION: right -104px
}
DIV.checker {
	WIDTH: 19px; FLOAT: left; HEIGHT: 19px; CLEAR: both
}
DIV.checker:after {
	CLEAR: both
}
DIV.checker INPUT {
	WIDTH: 19px; HEIGHT: 19px
}
DIV.checker SPAN {
	WIDTH: 19px; BACKGROUND-POSITION: 0px -260px; HEIGHT: 19px
}
DIV.checker:active SPAN {
	BACKGROUND-POSITION: -19px -260px
}
DIV.active.checker SPAN {
	BACKGROUND-POSITION: -19px -260px
}
DIV.focus.checker SPAN {
	BACKGROUND-POSITION: -38px -260px
}
DIV.checker:hover SPAN {
	BACKGROUND-POSITION: -38px -260px
}
DIV.focus.checker:active SPAN {
	BACKGROUND-POSITION: -57px -260px
}
DIV.checker:hover:active SPAN {
	BACKGROUND-POSITION: -57px -260px
}
DIV.active.checker:hover SPAN {
	BACKGROUND-POSITION: -57px -260px
}
DIV.active.focus.checker SPAN {
	BACKGROUND-POSITION: -57px -260px
}
DIV.checker SPAN.checked {
	BACKGROUND-POSITION: -76px -260px
}
DIV.checker:active SPAN.checked {
	BACKGROUND-POSITION: -95px -260px
}
DIV.active.checker SPAN.checked {
	BACKGROUND-POSITION: -95px -260px
}
DIV.focus.checker SPAN.checked {
	BACKGROUND-POSITION: -114px -260px
}
DIV.checker:hover SPAN.checked {
	BACKGROUND-POSITION: -114px -260px
}
DIV.focus.checker:active SPAN.checked {
	BACKGROUND-POSITION: -133px -260px
}
DIV.checker:hover:active SPAN.checked {
	BACKGROUND-POSITION: -133px -260px
}
DIV.active.checker:hover SPAN.checked {
	BACKGROUND-POSITION: -133px -260px
}
DIV.focus.active.checker SPAN.checked {
	BACKGROUND-POSITION: -133px -260px
}
DIV.disabled.checker SPAN {
	BACKGROUND-POSITION: -152px -260px
}
DIV.disabled.checker:active SPAN {
	BACKGROUND-POSITION: -152px -260px
}
DIV.active.disabled.checker SPAN {
	BACKGROUND-POSITION: -152px -260px
}
DIV.disabled.checker SPAN.checked {
	BACKGROUND-POSITION: -171px -260px
}
DIV.disabled.checker:active SPAN.checked {
	BACKGROUND-POSITION: -171px -260px
}
DIV.active.disabled.checker SPAN.checked {
	BACKGROUND-POSITION: -171px -260px
}
DIV.radio {
	WIDTH: 18px; HEIGHT: 18px
}
DIV.radio INPUT {
	WIDTH: 18px; HEIGHT: 18px
}
DIV.radio SPAN {
	WIDTH: 18px; BACKGROUND-POSITION: 0px -279px; HEIGHT: 18px
}
DIV.radio:active SPAN {
	BACKGROUND-POSITION: -18px -279px
}
DIV.active.radio SPAN {
	BACKGROUND-POSITION: -18px -279px
}
DIV.focus.radio SPAN {
	BACKGROUND-POSITION: -36px -279px
}
DIV.radio:hover SPAN {
	BACKGROUND-POSITION: -36px -279px
}
DIV.focus.radio:active SPAN {
	BACKGROUND-POSITION: -54px -279px
}
DIV.radio:hover:active SPAN {
	BACKGROUND-POSITION: -54px -279px
}
DIV.active.radio:hover SPAN {
	BACKGROUND-POSITION: -54px -279px
}
DIV.focus.active.radio SPAN {
	BACKGROUND-POSITION: -54px -279px
}
DIV.radio SPAN.checked {
	BACKGROUND-POSITION: -72px -279px
}
DIV.radio:active SPAN.checked {
	BACKGROUND-POSITION: -90px -279px
}
DIV.active.radio SPAN.checked {
	BACKGROUND-POSITION: -90px -279px
}
DIV.focus.radio SPAN.checked {
	BACKGROUND-POSITION: -108px -279px
}
DIV.radio:hover SPAN.checked {
	BACKGROUND-POSITION: -108px -279px
}
DIV.focus.radio:active SPAN.checked {
	BACKGROUND-POSITION: -126px -279px
}
DIV.radio:hover:active SPAN.checked {
	BACKGROUND-POSITION: -126px -279px
}
DIV.active.focus.radio SPAN.checked {
	BACKGROUND-POSITION: -126px -279px
}
DIV.active.radio:hover SPAN.checked {
	BACKGROUND-POSITION: -126px -279px
}
DIV.disabled.radio SPAN {
	BACKGROUND-POSITION: -144px -279px
}
DIV.disabled.radio:active SPAN {
	BACKGROUND-POSITION: -144px -279px
}
DIV.active.disabled.radio SPAN {
	BACKGROUND-POSITION: -144px -279px
}
DIV.disabled.radio SPAN.checked {
	BACKGROUND-POSITION: -162px -279px
}
DIV.disabled.radio:active SPAN.checked {
	BACKGROUND-POSITION: -162px -279px
}
DIV.active.disabled.radio SPAN.checked {
	BACKGROUND-POSITION: -162px -279px
}
DIV.uploader {
	BACKGROUND-POSITION: 0px -297px; HEIGHT: 28px
}
DIV.uploader SPAN.action {
	LINE-HEIGHT: 24px; BACKGROUND-POSITION: right -409px; HEIGHT: 24px
}
DIV.uploader SPAN.filename {
	LINE-HEIGHT: 24px; MARGIN: 2px 0px 2px 2px; HEIGHT: 24px
}
DIV.focus.uploader {
	BACKGROUND-POSITION: 0px -353px
}
DIV.hover.uploader {
	BACKGROUND-POSITION: 0px -353px
}
DIV.uploader:hover {
	BACKGROUND-POSITION: 0px -353px
}
DIV.focus.uploader SPAN.action {
	BACKGROUND-POSITION: right -437px
}
DIV.hover.uploader SPAN.action {
	BACKGROUND-POSITION: right -437px
}
DIV.uploader:hover SPAN.action {
	BACKGROUND-POSITION: right -437px
}
DIV.active.uploader SPAN.action {
	BACKGROUND-POSITION: right -465px
}
DIV.uploader:active SPAN.action {
	BACKGROUND-POSITION: right -465px
}
DIV.active.focus.uploader SPAN.action {
	BACKGROUND-POSITION: right -493px
}
DIV.active.uploader:focus SPAN.action {
	BACKGROUND-POSITION: right -493px
}
DIV.focus.uploader:active SPAN.action {
	BACKGROUND-POSITION: right -493px
}
DIV.uploader:focus:active SPAN.action {
	BACKGROUND-POSITION: right -493px
}
DIV.disabled.uploader {
	BACKGROUND-POSITION: 0px -325px
}
DIV.disabled.uploader SPAN.action {
	BACKGROUND-POSITION: right -381px
}
DIV.button {
	BACKGROUND-POSITION: 0px -523px
}
DIV.button SPAN {
	BACKGROUND-POSITION: right -699px
}
DIV.focus.button {
	BACKGROUND-POSITION: 0px -566px
}
DIV.button:focus {
	BACKGROUND-POSITION: 0px -566px
}
DIV.button:hover {
	BACKGROUND-POSITION: 0px -566px
}
DIV.hover.button {
	BACKGROUND-POSITION: 0px -566px
}
DIV.focus.button SPAN {
	BACKGROUND-POSITION: right -742px
}
DIV.button:focus SPAN {
	BACKGROUND-POSITION: right -742px
}
DIV.button:hover SPAN {
	BACKGROUND-POSITION: right -742px
}
DIV.hover.button SPAN {
	BACKGROUND-POSITION: right -742px
}
DIV.active.button {
	BACKGROUND-POSITION: 0px -610px
}
DIV.button:active {
	BACKGROUND-POSITION: 0px -610px
}
DIV.active.button SPAN {
	BACKGROUND-POSITION: right -786px; COLOR: #ccc
}
DIV.button:active SPAN {
	BACKGROUND-POSITION: right -786px; COLOR: #ccc
}
DIV.button {
	HEIGHT: 43px
}
DIV.button SPAN {
	PADDING-LEFT: 2px; PADDING-RIGHT: 15px; HEIGHT: 28px; MARGIN-LEFT: 13px; FONT-WEIGHT: normal; PADDING-TOP: 15px
}
DIV.selector {
	WIDTH: 190px; FONT-SIZE: 12px
}
DIV.selector SELECT {
	BORDER-BOTTOM: #fff 1px solid; MIN-WIDTH: 190px; BORDER-LEFT: #fff 1px solid; FONT-FAMILY: "Helvetica Neue", Helvetica, Arial, sans-serif; FONT-SIZE: 12px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
DIV.selector SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 25px; CURSOR: pointer; PADDING-TOP: 0px
}
DIV.selector SPAN {
	WIDTH: 158px; COLOR: #666; text-shadow: 0 1px 0 #fff
}
DIV.disabled.selector SPAN {
	COLOR: #bbb
}
DIV.checker {
	MARGIN-RIGHT: 5px
}
DIV.radio {
	MARGIN-RIGHT: 3px
}
DIV.uploader {
	WIDTH: 190px; CURSOR: pointer
}
DIV.uploader SPAN.action {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #fff; WIDTH: 85px; FONT-SIZE: 11px; FONT-WEIGHT: bold; text-shadow: #fff 0px 1px 0px
}
DIV.uploader SPAN.filename {
	WIDTH: 82px; COLOR: #777; FONT-SIZE: 11px; BORDER-RIGHT: #bbb 1px solid
}
DIV.uploader INPUT {
	WIDTH: 190px
}
DIV.disabled.uploader SPAN.action {
	COLOR: #aaa
}
DIV.disabled.uploader SPAN.filename {
	BORDER-BOTTOM-COLOR: #ddd; BORDER-TOP-COLOR: #ddd; COLOR: #aaa; BORDER-RIGHT-COLOR: #ddd; BORDER-LEFT-COLOR: #ddd
}
.selector {
	ZOOM: 1; DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.checker {
	ZOOM: 1; DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.button {
	ZOOM: 1; DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.radio {
	ZOOM: 1; DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.uploader {
	ZOOM: 1; DISPLAY: inline-block; VERTICAL-ALIGN: middle
}
.selector SELECT:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
.radio INPUT:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
.checker INPUT:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
.uploader INPUT:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
DIV.button A {
	POSITION: absolute
}
DIV.button BUTTON {
	POSITION: absolute
}
DIV.button INPUT {
	POSITION: absolute
}
DIV.button {
	POSITION: relative; CURSOR: pointer
}
DIV.button SPAN {
	TEXT-ALIGN: center; LINE-HEIGHT: 1; DISPLAY: inline-block
}
DIV.selector {
	POSITION: relative; PADDING-LEFT: 10px; OVERFLOW: hidden
}
DIV.selector SPAN {
	TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden
}
DIV.selector SELECT {
	BORDER-BOTTOM: medium none; POSITION: absolute; FILTER: alpha(opacity=0); BORDER-LEFT: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 25px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; opacity: 0; -moz-opacity: 0
}
DIV.checker {
	POSITION: relative
}
DIV.checker SPAN {
	TEXT-ALIGN: center; DISPLAY: inline-block
}
DIV.checker INPUT {
	FILTER: alpha(opacity=0); DISPLAY: inline-block; BACKGROUND: none transparent scroll repeat 0% 0%; opacity: 0; -moz-opacity: 0
}
DIV.radio {
	POSITION: relative
}
DIV.radio SPAN {
	TEXT-ALIGN: center; DISPLAY: inline-block
}
DIV.radio INPUT {
	TEXT-ALIGN: center; FILTER: alpha(opacity=0); DISPLAY: inline-block; BACKGROUND: none transparent scroll repeat 0% 0%; opacity: 0; -moz-opacity: 0
}
DIV.uploader {
	POSITION: relative; OVERFLOW: hidden; CURSOR: default
}
DIV.uploader SPAN.action {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; FLOAT: left; OVERFLOW: hidden; CURSOR: pointer; PADDING-TOP: 2px
}
DIV.uploader SPAN.filename {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; TEXT-OVERFLOW: ellipsis; PADDING-RIGHT: 10px; DISPLAY: block; WHITE-SPACE: nowrap; FLOAT: left; OVERFLOW: hidden; CURSOR: default; PADDING-TOP: 0px
}
DIV.uploader INPUT {
	BORDER-BOTTOM: medium none; POSITION: absolute; FILTER: alpha(opacity=0); BORDER-LEFT: medium none; BOTTOM: 0px; FLOAT: right; HEIGHT: 25px; BORDER-TOP: medium none; TOP: 0px; CURSOR: default; RIGHT: 0px; BORDER-RIGHT: medium none; opacity: 0; -moz-opacity: 0
}
